<h2 i18n>Kategória szerkesztés</h2>
<mat-dialog-content class="mat-typography">
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Category title" [(ngModel)]="data.Title">
        </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-raised-button
            color="primary"
            i18n
            (click)="onCancel()">
        Mégse
    </button>
    <button mat-raised-button
            color="warn"
            i18n
            (click)="onOk()"
            cdkFocusInitial>
        Mentés
    </button>
</div>
