<div class="col-sm-8 col-sm-offset-2">
    <h1>{{post.title}}</h1>
    <div class="meta">
        <div class="time">
            <i class="material-icons">access_time</i><span>&nbsp;{{post.createDate}}</span>
        </div>
        <div class="tag">
            <i class="material-icons">bookmark</i><span>&nbsp;{{post.categories[0]}}</span>
        </div>
        <div class="author">
            <i class="material-icons">create</i><span>&nbsp;{{post.author}}</span>
        </div>
    </div>
    <div>
        <p [innerHTML]="post.editorData"> </p>
    </div>
    <mat-divider></mat-divider>
    <div class="footer-section">
        <div class="row">
            <h5 class="col-md-2">Kategóriák: </h5>
            <div class="col-md-2" *ngFor="let category of post.categories">
                <div class="category-container">{{category}}</div>
            </div>
        </div>
    </div>
    <div class="footer-section">
        <div style="text-align: right">
            <button mat-raised-button class="facebook" color="primary" (click)="share()">
                <mat-icon>thumb_up</mat-icon>
            &nbsp;Kedvelés</button>
        </div>
    </div>
</div>
