.meta {
    color: gray;
    font-size: 16px;
    margin-bottom: 15px;
}

.material-icons {
    font-size: 16px;
}

.time {
    display: inline;
    margin-right: 20px;
}

.tag {
    display: inline;
    margin-right: 20px;
}

.author {
    display: inline;
}

.footer-section {
    font-size: 12px;
    margin-top: 15px;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    height: 30px;
    text-align: center
}

    .category-container:hover {
        color: #ff5e59;
        border-color: #ff5e59;
        cursor: pointer;
    }

.facebook {
    padding: 2px;
    font-size: 15px;
    width: 105px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #3B5998;
    color: white;
}

.facebook:hover {
    opacity: 0.7;
    cursor: pointer;
}
