<h2 i18n>Confirm delete</h2>
<mat-dialog-content class="mat-typography">
    <h3 mat-dialog-title i18n>Are you sure you want to delete this category? All news will be deleted permanently in this category.</h3>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-raised-button
            color="primary"
            i18n
            (click)="onCancel()">
        Cancel
    </button>
    <button mat-raised-button
            color="warn"
            i18n
            (click)="onOk()"
            cdkFocusInitial>
        Delete
    </button>
</div>
