<div class="col-sm-8 col-sm-offset-2 create-container">
    <div class="row">
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Új kategória" [(ngModel)]="model.Title">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createCategory()">Hozzáadás</button>
    </div>
</div>

<div class="col-sm-8 col-sm-offset-2 table-container">
    <table mat-table [dataSource]="categories" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Kategória neve </th>
            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let element" class="btn-cell">
                <div class="button-row">
                    <button mat-flat-button color="primary" (click)="showEdit(element.Id, element.Title)">Szerkesztés</button>
                    <button mat-flat-button color="warn" (click)="showDelete(element.Id)">Törlés</button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
