a {
    color: #414141;
    text-decoration: none;
}

    a:hover {
        /*color: #ed1b2f;*/
        /*color: #1d1e44;*/
        color: #ff5e59;
        text-decoration: none;
    }

.meta {
    /*color: #ff5e59;*/
    color: #75709f;
    font-size: 16px;
}

.material-icons {
    font-size: 16px;
}

.time {
    display: inline;
    margin-right: 20px;
}

.tag {
    display: inline;
    margin-right: 20px;
}

.author {
    display: inline;
}

.intro {
    margin-bottom: 20px;
}
