<div style="width: 100%; margin-top:20px">
    <div class="meta">
        <div class="time">
            <i class="material-icons">access_time</i><span>&nbsp;{{post.date}}</span>
        </div>
        <div class="tag">
            <i class="material-icons">bookmark</i><span>&nbsp;{{post.tags}}</span>
        </div>
        <div class="author">
            <i class="material-icons">create</i><span>&nbsp;{{post.author}}</span>
        </div>
    </div>
    <h3 class="title" (click)="goToPost(post.id)"><a href="#">{{post.title}}</a></h3>
    <div class="intro">{{post.intro}}</div>
</div>
<mat-divider></mat-divider>
