.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: #F9F9F9;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.login-button {
    width: 100%;
    background-color: #484570;
    color: white;
}
