<div class="login-container">
    <div style="width: 45%">
             <mat-card>
                 <mat-card-title>
                     Bejelentkezés
                 </mat-card-title>
                 <mat-card-content>
                     <div class="form-container">
                         <mat-form-field>
                             <input matInput
                                    type="text"
                                    name="email"
                                    placeholder="Add meg az azonosítódat"
                                    [(ngModel)]="credentials.UserName">
                         </mat-form-field>
                         <mat-form-field>
                             <input matInput
                                    placeholder="Add meg a jelszavad"
                                    name="password"
                                    [type]="hidePassword ? 'password' : 'text'"
                                    [(ngModel)]="credentials.Password">
                             <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                                 {{hidePassword ? 'visibility' : 'visibility_off' }}
                             </mat-icon>
                         </mat-form-field>
                     </div>
                 </mat-card-content>
                 <mat-card-actions>
                     <button mat-raised-button class="login-button" color="primary" (click)="login()">Bejelentkezés</button>
                 </mat-card-actions>
             </mat-card>
        <div *ngIf="invalidLogin" style="color:darkred; width: 45%">
            Helytelen azonosító és/vagy jelszó!
        </div>
    </div>
</div>
